<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="">
    <title>Ак барс Банк</title>
    {% load staticfiles %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" href="https://bootstraptema.ru/plugins/bootstrap/v3/3-3-6/bootstrap.css" />
    <link rel="stylesheet" href="https://bootstraptema.ru/plugins/font-awesome/4-4-0/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css" />
    <script src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
</head>
<body>
    <style>
        .form-horizontal {
            background: #b5ecdc;
            border-radius: 15px;
            position: relative;
            width: 600px;
            text-align: center;
            margin-left: 100px;
        }
    </style>
    <div class="container">
        <div class="jumbotron" style="background-color:rgb(181, 236, 220)">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">Главная страница</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/newday/">Новости дня<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/portal/">Портал<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/sertification/">Аттестация<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout/">Выход<span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
                <img src="{% static 'image/ak.png' %}" img style="float: right">
            </nav>
        </div>
    </div>

    <div class="container">
        <div class="jumbotron" style="background-color:rgb(181, 236, 220)">
            <div class="jumbotron">

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            {% if questions_for_user_false %}
                            {% for i in questions_for_user_false %}
                            {% if forloop.first %}

                            <div class="tab-content tabs">
                                <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                                    <form class="form-horizontal" action='#' method='post' enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <br />
                                        <div class="vopros">
                                            <p>{{i.questions.name|safe}}</p>
                                        </div>
                                        {% for answer in i.questions.answer_set.all %}
                                        <div class="radio1">
                                            <label>
                                                <input required type="radio" name="galochka" id="galochka" value="{{answer.id}}">
                                                {{answer.otvet}}
                                            </label>
                                        </div>
                                        {% endfor %}
                                        <input type="hidden" class="form-control" id="que_id" name="que_id" value="{{i.id}}">
                                        <br />
                                        <input id="clickjsone" type="submit" class="btn btn-default" value="Ответить" name="answer" style="margin-right:190px; width:30%">
                                    </form>
                                    {% endif %}
                                    {% endfor %}
                                    {% else %}

                                    <h4><em>Вы набрали {{sum}} баллов из {{questions_for_user_all.count}}</em></h4>
                                    <a href="/sertification/"> Нажмите здесь, чтобы перейти в список тестирований.</a>

                                    {% endif %}
                                </div>
                            </div>
                        </div><!-- ./col-md-12 -->
                    </div><!-- ./row -->
                </div><!-- ./container -->
            </div>
        </div>
        <p class="rig">Поддержка: Mamaevaolesa9@gmail.com</p>
        <div style="clear: left"></div>
    </div>
</body>
</html>