<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="">
    <title>Ак барс Банк</title>
    {% load staticfiles %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" href="https://bootstraptema.ru/plugins/bootstrap/v3/3-3-6/bootstrap.css" />
    <link rel="stylesheet" href="https://bootstraptema.ru/plugins/font-awesome/4-4-0/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css" />
    <script src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
</head>
<body>
    <style>
        .text1 {
            line-height: 1,5;
            text-align: justify;
        }
    </style>
    <div class="container">
        <div class="jumbotron" style="background-color:rgb(181, 236, 220)">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">Главная страница</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/newday/">Новости дня<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/portal/">Портал<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/sertification/">Аттестация<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout/">Выход<span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
                <img src="{% static 'image/ak.png' %}" img style="float: right">
            </nav>
        </div>
    </div>

    <div class="container">
        <div class="jumbotron" style="background-color:rgb(181, 236, 220)">
            <div class="jumbotron">

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text1">
                                <h4>Требования к Заемщику/Созаемщику</h4>
                                <h5>— Гражданин РФ</h5>
                                <h5>— Предельный возраст на момент окончания срока действия кредитного договора - 70 лет</h5>
                                <h5>— Минимальный возраст 18 лет</h5>
                                <h5>— Постоянная либо временная регистрация на территории РФ на момент подачи документов</h5>
                                <p5>
                                    — Если в качестве Заемщика выступает лицо мужского пола в возрасте до 27 лет, не имеющее документов, подтверждающих отсрочку от прохождения воинской службы до достижения 27 лет или увольнение с военной службы с зачислением в запас, то выдача кредита такому Заемщику возможна, при условии привлечения дополнительного Заемщика(ов), не подлежащего призыву на срочную военную службу и имеющего подтвержденный доход. Оценка платежеспособности Заемщиков производится без учета доходов и расходов лица, подлежащего призыву</p5align="justify">
                                    <h5></h5>
                                    <p5>— Постоянное трудоустройство общий трудовой стаж и трудовой стаж по последнему месту работы должен быть не менее 3 месяцев. В случае, если Заемщик является индивидуальным предпринимателем/Собственником бизнеса, деятельность должна осуществляться не менее 12 месяцев. При этом организацией-работодателем могут выступать организации, зарегистрированные на территории РФ и иностранные компании, имеющие филиалы и представительства на территории РФ В случае необходимости привлечения «Созаемщиков» по кредитному договору, требования к «Созаемщику» идентичны требованиям к Заемщику.</p5>
                            </div>
                        </div><!-- ./col-md-12 -->
                    </div><!-- ./row -->
                </div><!-- ./container -->
            </div>
        </div>
        <p class="rig">Поддержка: Mamaevaolesa9@gmail.com</p>
        <div style="clear: left"></div>
    </div>
</body>
</html>