<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="">
    <title>Ак барс Банк</title>
    {% load staticfiles %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" href="https://bootstraptema.ru/plugins/bootstrap/v3/3-3-6/bootstrap.css" />
    <link rel="stylesheet" href="https://bootstraptema.ru/plugins/font-awesome/4-4-0/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css" />
    <script src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
</head>
<body>
    <style>
        .text1 {
            line-height: 1,5;
            text-align: justify;
        }
    </style>
    <div class="container">
        <div class="jumbotron" style="background-color:rgb(181, 236, 220)">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">Главная страница</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/newday/">Новости дня<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/portal/">Портал<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/sertification/">Аттестация<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout/">Выход<span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
                <img src="{% static 'image/ak.png' %}" img style="float: right">
            </nav>
        </div>
    </div>

    <div class="container">
        <div class="jumbotron" style="background-color:rgb(181, 236, 220)">
            <div class="jumbotron">

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text1">
                                <h4>Порядок предоставления налогового вычета Самозанятых</h4>
                                <p5>
                                    Сумма налогового вычета — 10 000 ₽. Воспользоваться можно 1 раз. Срок использования — не ограничен.
                                    Порядок использования следующий:
                                 <h5></h5>
                                </p5>
                                <p5>•	Налог в 4% от дохода при работе с физическими лицами уменьшается на 1% и считается по ставке 3%.
                                      Налоговый вычет в 10 000 ₽ уменьшается на разницу между суммой налога в 4% и суммой налога в 3%.</p5>
                                <h5></h5>
                                <p5>•	Налог в 6% от дохода при работе с юридическими лицами уменьшается на 2% и считается по ставке 4%.
                                     Налоговый вычет в 10 000 ₽ уменьшается на разницу между суммой налога в 6% и суммой налога в 4%.</p5>
                            </div>
                        </div><!-- ./col-md-12 -->
                    </div><!-- ./row -->
                </div><!-- ./container -->
            </div>
        </div>
        <p class="rig">Поддержка: Mamaevaolesa9@gmail.com</p>
        <div style="clear: left"></div>
    </div>
</body>
</html>